@import url("components/banner.css");
@import url("components/button.css");
@import url("components/container.css");

body {
    background-color: #191A19;
    font-family: 'Open Sans', sans-serif;
}

p {
    text-align: justify;
    font-size: 18px;
}

